<mat-toolbar color="primary" class="navbar navbar-default py-2" dir="rtl">


  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">

      <a class="navbar-brand" routerLinkActive="active" routerLink="welcome"><img
          src="../../../assets/images/school_white_24dp.svg" alt=""> MCQ-Exam </a>
    </div>
    <div fxHide.gt-xs><button mat-icon-button (click)="Ontogglesidenav()">
        <mat-icon>menu</mat-icon>
      </button></div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div fxHide.xs fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>

      <ul class="nav navbar-right d-flex align-items-center">
        <li *ngIf="user?.type=='doctor'" routerLinkActive="active"><a routerLink="/new-exam">أختبار جديد</a></li>
        <li *ngIf="user?.type=='doctor'" routerLinkActive="active"><a routerLink="/students">الطلاب</a></li>
        <li *ngIf="user!==null" routerLinkActive="active"><a routerLink="/subjects">المواد </a></li>
        <li *ngIf="user!==null" routerLinkActive="active"><a (click)="logout()" routerLink="/login">خروج</a></li>
        <li *ngIf="user==null" routerLinkActive="active"><a routerLink="/login">دخول</a></li>
        <li *ngIf="user==null" routerLinkActive="active"><a routerLink="/register">تسجيل</a></li>
        <li *ngIf="user!==null" class="username">{{user?.username}}</li>

      </ul>

     

    </div><!-- /.navbar-collapse -->
  </div>
</mat-toolbar>
